svg {
  stroke: #000000;
  stroke-width: 0.3;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: .5;
  opacity: .2;
}

.city-label {
  font: 10px sans-serif;
  opacity: 0.8;
}

.city, .city-label {
  fill: black;
}

.country {
  fill: rgb(117, 87, 57);
  opacity: .7;
}

.country:hover {
  fill: #dc4a29;
  stroke-width: 1px;
}

.tooltip {
  position: absolute;
  display: none;
  background: #fff;
  padding: 3px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
