svg {
  stroke: #000000;
  stroke-width: 0.3;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: .5;
  opacity: .2;
}

.city-label {
  font: 8px sans-serif;
  opacity: .5;
}

.city, .city-label {
  fill: black;
}

.water {
  fill: rgba(72, 156, 212, 0.83);
}

/*.country:nth-child(6n+1) {
  fill: rgba(243, 163, 50, 0.9);
}

.country:nth-child(6n+2) {
  fill: rgba(57, 202, 29, 0.9);        
}

.country:nth-child(6n+3) {
  fill: rgba(232, 74, 74, 0.9);        
}                      
                       
.country:nth-child(6n+4) {
  fill: rgba(239, 241, 66, 0.9);        
}                      
                       
.country:nth-child(6n+5) {
  fill: rgba(196, 38, 242, 0.90);        
}                      

.country:nth-child(6n) {
  fill: rgba(174, 88, 107, 0.9);
}*/

.country {
  fill: rgb(117, 87, 57);
  opacity: .8;
}
