svg {
  stroke: #000000;
  stroke-width: 0.3;
}

.graticule {
  fill: none;
  stroke: black;
  stroke-width: .5;
  opacity: .2;
}

.city-label {
  font: 10px sans-serif;
  opacity: 0.8;
}

.city, .city-label {
  fill: black;
}

.country {
  fill: rgb(117, 87, 57);
  opacity: .7;
}
